---
layout: page
title: Home
---
{% include JB/setup %}

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <article class="content">
    <section class="title">
      <h1 style="font-family: fantasy; margin-bottom: 0em; border-top:2px dashed #db6968; padding-top: 10px;"><a style="color:#db6968; text-shadow: 1px 1px #efefef,2px 2px #aee2d9" href="{{ post.url }}">{{ post.title }}</a></h1>

      {% if post.tags %}
      <span class="tags">
        {% for tag in post.tags %}
        <a href="/tags.html#{{ tag }}" title="{{ tag }}" style="background-color: lightgray; "> <span>{{ tag }}</span></a>
        {% endfor %}
      </span>
      {% endif %}

      <ul class="tag_box inline">
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>

    </section>

    <section class="post">
      {{post.content}}
    </section>
  </article>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}