<div id="page">
	
  <h1 class="emphnext">
    <a href="{{ page.title }}">{{ page.title }}</a>
  </h1>
      <ul class="blog-post-meta">
        <li class="meta-item">
          <span class="glyphicon glyphicon-calendar"></span>{{ page.date | date: "%B %e, %Y"}}
        </li>
        {% if page.tags %}
          {% for tag in page.tags %}
          <li class="meta-item">
            <span class="glyphicon glyphicon-tag"></span>
            <a href="/tags.html#{{ tag }} ">{{ tag }}</a>
          </li>
          {% endfor %}
        {% endif %}
      </ul>

  {{ content }}

  <address class="signature">
    <a class="author" href="{{ HOME_PATH }}">{{ site.author.name }}</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
  
  <div class="prev-next">
  {% if page.next %}
    <a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">Next Post &rarr;</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; Earlier Post</a>
  {% endif %}
  </div>
  {% include JB/comments %}
  
</div><!-- End Page -->